* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

div {
    width: 100vw;
    height: 100vh;
    margin-top: 3%;
    margin-left: 5%;

}

.one {
    background: hsl(256, 67%, 59%);
    width: 30%;
    height: 33%;
    box-align: center;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    margin-left: 33%;
}

.star {
    width: 33%;
    position: absolute;
    left: 35%;
    bottom: 90px;
}

h1 {
    color: white;
    font-weight: 400;
    font-size: 55px;
    position: relative;
    margin-top: 10%;
    line-height: 50px;
}

.amarelo {
    color: hsl(39, 100%, 71%);
}

.italico {
    font-style: italic;
}

.um {
    color: white;
    font-weight: 200;
    position: relative;
    margin-top: 12%;
    font-size: 18px;
    left: 2%;
}

.two {
    background: hsl(31, 66%, 93%);
    width: 15%;
    height: 45%;
    box-align: center;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    margin-left: 17%;
}

.post {
    width: 80%;
    position: absolute;
    left: 9%;
    bottom: 55px;
}

h2 {
    color: black;
    font-weight: 500;
    font-size: 37px;
    position: relative;
    margin-top: 25%;
    line-height: 35px;
    text-align: left;
    margin-left: 12%;
}

.rapido {
    color: hsl(256, 67%, 59%);
    font-style: italic;
}

.three {
    background: hsl(39, 100%, 71%);
    width: 15%;
    height: 45%;
    box-align: center;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    margin-left: 17%;
    margin-top: 22%;
}

.content {
    width: 85%;
    position: absolute;
    left: 9%;
    bottom: 24px;
}

h3 {
    color: black;
    font-weight: 500;
    font-size: 35px;
    position: relative;
    margin-top: 10%;
    line-height: 32px;
    letter-spacing: -2px;
    text-align: left;
    margin-left: 12%;
}

.four {
    background: white;
    width: 14.5%;
    height: 27%;
    box-align: center;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    margin-left: 33%;
    margin-top: 16.8%;
    border-style: outset;
    overflow: hidden;
}

.four img {
    width: 100%;
    height: auto;
    display: block;
}

.platforms {
    width: 125%;
    position: absolute;
    left: 9%;
    bottom: 145px;
    object-fit: cover;
}

h4 {
    color: black;
    font-weight: 500;
    font-size: 30px;
    position: relative;
    margin-top: 40%;
    line-height: 25px;
    letter-spacing: -2px;
    text-align: left;
    margin-left: 12%;
}

.five {
    background: white;
    width: 14.5%;
    height: 27%;
    box-align: center;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    margin-left: 33%;
    margin-top: 30.5%;
    border-style: outset;
}

.growth {
    width: 72%;
    position: absolute;
    left: 12%;
    bottom: 20px;
}

h5 {
    color: black;
    font-weight: 600;
    font-size: 53px;
    position: relative;
    margin-top: 5%;
    text-align: left;
    margin-left: 12%;
}

.cinco {
    color: black;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    margin-top: 5%;
    text-align: left;
    margin-left: 12%;
}

.six {
    background: hsl(39, 100%, 71%);
    width: 14.5%;
    height: 27%;
    box-align: center;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    margin-left: 48.3%;
    margin-top: 16.8%;
    overflow: hidden;

}

.consistent {
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: -65px;
}

h6 {
    color: black;
    font-weight: 600;
    font-size: 28px;
    position: relative;
    margin-top: 10%;
    text-align: left;
    margin-left: 12%;
    line-height: 25px;
    letter-spacing: -2px;
}

.seven {
    background: hsl(254, 88%, 90%);
    width: 14%;
    height: 62.6%;
    box-align: center;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    margin-left: 64%;
    overflow: hidden;
}

.seven img {
    width: 100%;
    height: auto;
    display: block;
}

.schedule {
    width: 130%;
    position: absolute;
    left: 11%;
    bottom: 130px;
}

.h7 {
    color: black;
    font-weight: 500;
    font-size: 32px;
    position: relative;
    margin-top: 17%;
    margin-left: 12%;
    line-height: 25px;
    letter-spacing: -2px;
    text-align: left;
}

.sete {
    color: black;
    font-weight: 400;
    font-size: 17px;
    position: relative;
    margin-top: 130%;
    text-align: left;
    margin-left: 12%;
}

.eigth {
    background: hsl(256, 67%, 59%);
    width: 29.7%;
    height: 27%;
    box-align: center;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    margin-left: 48.4%;
    margin-top: 30.5%;
}

.grow {
    width: 40%;
    position: absolute;
    left: 4.5%;
    bottom: 18px;
}

.h8 {
    color: white;
    font-weight: 400;
    font-size: 43px;
    position: relative;
    margin-top: 11%;
    margin-left: 47%;
    line-height: 40px;
    text-align: left;
}

@media screen and (max-width: 800px) {

    .one {
        display: block;
        width: 95%;
        height: 50%;
        padding: 0%;
        margin: 0%;
    }

    .four {
        display: block;
        width: 95%;
        height: 30%;
        padding: 0%;
        margin-top: 95%;
        margin-left: 0%;
        position: absolute;
    }

    .six {
        display: block;
        width: 95%;
        height: 50%;
        padding: 0%;
        margin-top: 190%;
        margin-left: 0%;
        position: absolute;
    }
    
    .seven {
        display: block;
        width: 95%;
        height: 50%;
        padding: 0%;
        margin-top: 285%;
        margin-left: 0%;
        position: absolute;
    }

    .eigth {
        display: block;
        width: 95%;
        height: 50%;
        padding: 0%;
        margin-top: 380%;
        margin-left: 0%;
        position: absolute;
    }

    .five {
        display: block;
        width: 95%;
        height: 50%;
        padding: 0%;
        margin-top: 475%;
        margin-left: 0%;
        position: absolute;
    }

    .two {
        display: block;
        width: 95%;
        height: 50%;
        padding: 0%;
        margin-top: 570%;
        margin-left: 0%;
        position: absolute;
    }

    .three {
        display: block;
        width: 95%;
        height: 50%;
        padding: 0%;
        margin-top: 665%;
        margin-left: 0%;
        position: absolute;
    }
    }